@use "global" as *;

.container {
    background-color: rgba($primary-color, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5), 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px 20px 10px;
    transition-duration: 1s;
    padding: 20px;
}



.flex-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    width: 100%;
    align-items: stretch;
    margin-bottom: 30px;

    .container {
        flex-grow: 1;
        margin: 0 10px;
    }

    .second-row {
        width: 100%;
    }
}

.second-row {
    box-sizing: border-box;
    max-width: calc(100vw - 30px);
    padding-bottom: 30px;
    padding-top: 10px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 10px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: -5px 0;
            padding: 0;
        }

        li {
            margin: 10px 0;
        }
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    pointer-events: none;
    touch-action: pan-y;
}

#musiccontrols {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    transition: bottom 1s ease-in-out;
    background-color: rgba($primary-color, 0.2);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5), 0 4px 8px -4px rgba(0, 0, 0, 0.3);

    #nowplaying {
        display: flex;
        gap: 0.75px;
        span {
            display: inline-block;
            animation: bounce 1s infinite;
            animation-delay: calc(var(--i) * 0.1s);
        }
    }

    #mutecontrol {
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: $accent-color;
        }
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

#musicprompt {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    padding: 10px;
    justify-content: center;
    border-radius: 50px;
    font-size: 500%;
    font-family: "Turret Road", "Open Sans", sans-serif;
    background-color: rgba($primary-color, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 0 10px 20px 10px;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5), 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    line-height: normal;

    small {
        font-size: 15%;
        font-family: "Open Sans", sans-serif;
    }
}

.avatar-image.status-online {
    border-color: #43b581;
}
.avatar-image.status-idle {
    border-color: #faa61a;
}
.avatar-image.status-dnd {
    border-color: #f04747;
}
.avatar-image.status-offline {
    border-color: #747f8d;
}

.status-online {
    background-color: #43b581;
}
.status-idle {
    background-color: #faa61a;
}
.status-dnd {
    background-color: #f04747;
}
.status-offline {
    background-color: #747f8d;
}

#discord-pfp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
}

#discord-activity-container {
    font-size: 75%;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5), 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #discord-activity-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 10px;
        width: 100%;

        #discord-activity-text-container {
            display: flex;
            flex-direction: column;
            gap: -15px;
            * {
                margin-bottom: -5px;
                margin-top: -5px;
            }
        }
    }
}

.project-container {
    display: flex;
    gap: 10px;
    width: 100%;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.5), 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    background-color: rgba($primary-color, 0.2);

    img {
        width: 20%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s;
        align-self: center;
        object-fit: cover;

        &:hover {
            transform: scale(2) translateX(25%) translateY(-25%);
            z-index: 10;
        }
    }

    .project-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 10px;

        h1 {
            margin: 0;
            font-size: 150%;
            color: $accent-color;
        }

        p {
            margin: 5px 0;
            color: $text-color;
        }

    }
    
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: $text-color;
            padding: 10px;
            align-self: center;
        }
}